{% extends "global/Page.html" %}

{% block title %}
    Gracias por su Participación
{% endblock %}

{% block content %}
    <h5>¡Gracias por participar en esta demostración!</h5>

    <p>Esperamos que esta actividad le haya brindado una mejor comprensión sobre cómo se ejecutan los experimentos de laboratorio en economía experimental.</p>

    <p>Para esta demostración, se realizará una <strong>lotería aleatoria</strong> entre los participantes para determinar quiénes recibirán un pago relacionado al resultado de una de las rondas cuatro rondas jugadas (se elegirá de manera aleatoria).</p>

    <p>📢 Los resultados del sorteo serán anunciados al finalizar la sesión, y los seleccionados recibirán instrucciones sobre la entrega del incentivo.</p>

    <p>Si tiene alguna pregunta sobre el experimento o el taller, no dude en consultarlo con los organizadores.</p>

{% endblock %}


